
.footer{
    width: 100%;
    height: auto;
    border: 1px solid black;
    background-color: black;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
    }
    .fdiv{
        display: flex;
        /* margin: 100px; */
    }
    .h4{
        color: brown;
    }
    p{
        color: white;
    }
    .use{
    
        margin: 50px;
    }
    h1{
        font-size: 50px;
    }